<h1>Welcome to FreelanceMe.TV</h1>

<p>Find out what's really going on in this industry</p>

<button type="button" class="button1">Rates</button>

<button type="button" class="button2">Companies</button>

<button id="close-image"><img src="http://thinkingstiff.com/images/matt.jpg">Rates</button>
<button id="close-CSS"></button>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url('gordon.jpg')%>);">
  <div class="container">
    <h1>Get involved in changing this <strong>industry</strong></h1>
    <p>By talking about it</p>
    <a class="btn btn-flat" href="#">Sign up now</a>
  </div>
</div>



